#main{
    float: left;
    margin-top: 20px;
}

aside{
    float: left;
    margin-left: 2%;
}

#products{
    float: left;
    width: 90%;
    margin-top: 20px;
}

.product{
    width: 100%;
    margin-bottom: 10px;
    float: left;
    font-family: 'Bradley Hand', cursive;
    font-size: 1.1em;
}

.product>img{
    border: 1.5px solid black;
    border-radius: 5px;
    width: 40%;
    float: left;
    margin-right: 10px;
}

.product>span{
    float: left;
    font-weight: normal;
    margin-top: 5px;
}

#products>a>div.btn_body{
    color: rgb(0, 0, 0);
    float: left;
    margin-left: 0;
    margin-top: 0;
    border-radius: 8px;
    padding: 5px 9px;
    font-size: 1.1em;
    font-family: 'Bradley Hand', cursive;
    background-color: #c6c9cd;
    border: 2px solid #1e1b1b;
    transition: all .4s ease;
}

#products>a:hover>div.btn_body{
    font-size: 1.12em;
}

#one_product{
    float: left;
    margin-top: 7%;
    width: 60%;
}

#one_product>img{
    width: 200px;
    float: left;
    border: 2px solid black;
    border-radius: 10px;
}

.heading{
    font-weight: lighter;
    font-size: 1.3em;
    font-family: 'Bradley Hand', cursive;
    border-bottom: 1.5px solid #01b7d7;
    color: black;
    padding: 0px 2px;
    float: left;
}

.heading:first-letter{
    color: #01b7d7;
}

#news{
    float: left;
}

@media (min-width: 1051px) {
    #main{
        width: 60%;
        margin-left: 3%;
    }

    aside{
        width: 32%;
        margin-left: 2%;
    }

    #news{
        margin-left: 10%;
        width: 90%;
    }

}
@media (max-width: 1050px) and (min-width: 911px){
    #main{
        width: 65%;
        margin-left: 2%;
    }

    aside{
        width: 32%;
        margin-left: 2%;
    }

    #news{
        margin-left: 4%;
        width: 96%;
    }
}

@media (max-width: 910px) and (min-width: 501px){
    #main{
        width: 90%;
        margin-left: 5%;
    }

    aside{
        width: 50%;
        margin-left: 25%;
    }

    #news{
        margin-left: 4%;
        width: 96%;
    }
}

@media (max-width: 500px){
    #main{
        width: 90%;
        margin-left: 5%;
    }

    aside{
        width: 80%;
        margin-left: 10%;
    }

    #news{
        margin-left: 4%;
        width: 96%;
    }
}

/*Уникальный дизайн*/
.uniq-block>ul>li{
    margin-bottom: 4px;
    margin-left: 10px;
}

 .uniq-block li {
    color: #01b7d7; /* Цвет маркеров */
}
 .uniq-block li span {
    color: black; /* Цвет текста */
}

.uniq-block>strong{
    font-size: 1.2em;
}

.order-button{
    width: 190px;
    color: rgb(0, 0, 0);
    float: left;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 5px 9px;
    font-size: 1.1em;
    font-family: 'Bradley Hand', cursive;
    background-color: #c6c9cd;
    border: 2px solid #1e1b1b;
    transition: all .4s ease;
}

.order-button:hover{
    font-size: 1.14em;
}

/*Конец страницы*/
.end-main{
    width: 100%;
    background: #000000;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
}

.end-main>img{
    width: 8%;

}
