.traktir_pushkin {
    width: 100%;
    height: 415px;
    background-image: url("../pictures/12.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.pushkin_banner {
    background-color: whitesmoke;
    width: 380px;
    height: 160px;
    border-radius: 4px;
    float: left;
    margin: 90px 0 50px -120px;
    padding: 25px;
}

.pushkin_banner > h1 {
    margin-top: 20px;
    text-align: center;
    font-weight: lighter;
}

.banner_text {
    display: inline-flex;
    margin-top: 18%;
    width: 98%;
    margin-left: 30px;
}

.banner_text > p {
    color: #626262;
    opacity: .5;
    font-size: 0.85em;
}

.banner_text > div {
    background-color: #262626;
    color: whitesmoke;
    border-radius: 20px;
    width: 100px;
    height: 24px;
    text-align: center;
    padding-top: 8px;
    margin-left: 120px;
    font-size: 0.8em;
    margin-top: -10px;
}

.under_banner {
    height: 80px;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    align-items: center;
}

.under_banner > p > a {
    margin-left: 60px;
    color: #626262;
    opacity: .7;
    font-size: 1.1em;
}

.under_banner > p > a:hover {
    transition: .6s ease;
    color: #36a833;
    opacity: 1;
}

.pushkin_main {
    width: 90%;
    margin: 50px auto 2px;
}

.pushkin_main > h2 {
    font-weight: lighter;
    margin-left: 6.8%;
}

.pushkin_menu {
    display: flex;
    justify-content: center;
}

.p_point {
    border: 0.5px solid #cbcbcb;
    border-radius: 3px;
    height: 161px;
    background-color: #f5f5f5;
    margin: 35px 10px 0 10px;
}

.p_point > img {
    float: right;
    border-radius: 1px;
    margin-right: -8px;
}

.p_point > h3 {
    margin-top: 10px;
    margin-left: 20px;
}

.p_point > h3 > a {
    color: #1D1D1D;
    font-size: 0.9em;
    font-weight: lighter;
}

.p_rec {
    color: #626262;
    opacity: .7;
    font-size: 0.85em;
    margin-left: 20px;
    margin-top: 10px;
}

.p_price {
    margin-top: 15px;
    font-weight: bold;
    margin-left: 20px;
}

.add-to-basket {
    margin-left: 10px;
    margin-top: 12px;
    background-color: #e7e7e7;
    border: 1px solid silver;
    width: 110px;
    height: 30px;
    font-size: 0.7em;
    color: black;
    box-shadow: 1px 4px 12px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.add-to-basket:hover {
    transition: .6s ease;
    background-color: #7eb67e;
}

.addSuccess {
    display: none;
    color: #57AD56;
    opacity: .7;
    font-size: 0.85em;
    margin-left: 5px;
    margin-top: 5px;
}


@media (max-width: 820px) {
    .under_banner > p > a {
        margin-left: 30px;
    }
}

@media (max-width: 620px) {
    .under_banner {
        display: none;
    }
}

@media (max-width: 740px) {

    .pushkin_banner {
        width: 320px;
        height: 160px;
        margin: 90px 0 50px 40px;
        padding: 25px;
    }

    .pushkin_banner > h1 {
        margin-top: 10px;
    }

    .banner_text {
        display: block;
    }

    .banner_text > p {
        margin-left: 75px;
    }

    .banner_text > div {
        margin-top: 15px;
        margin-left: 85px;
    }

}

@media (max-width: 410px) {
    .pushkin_banner {
        width: 150px;
        height: 160px;
        margin: 90px 0 50px 40px;
        padding: 25px;
    }

    .banner_text > p {
        margin-left: 0;
    }

    .banner_text > div {
        margin-top: 10px;
        margin-left: 0;
    }
}

@media (max-width: 515px) {
    .p_point {
        height: 220px;
    }

    .p_point > img {
        width: 50%;
    }

    .p_point > h3 {
        margin-top: 5px;
        margin-left: 10px;
    }

    .p_point > h3 > a {
        font-size: 0.7em;
    }

    .p_rec {
        font-size: 0.65em;
        margin-left: 10px;
        margin-top: 5px;
    }
}
